{% extends '@App/layout/layout.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group " role="group">
                <a href="{{ path('app_game_new') }}" class="btn btn-sm btn-success">
                    Nová hra
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Hráči</th>
                    <th>Dátum</th>
                    <th>Akcie</th>
                </tr>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game.id }}</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for player in game.players %}
                                    <li>
                                        <span class="glyphicon glyphicon-user"></span>
                                        {{ player.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ game.date|date('d.m.Y') }}</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-primary btn-sm" href="{{ path('app_game_edit',{'game':game.id}) }}">
                                    Upraviť hru
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a class="btn btn-success btn-sm"
                                   href="{% if game.scoresheet %}{{ path('app_scoresheet_edit',{'game':game.id,'scoresheet':game.scoresheet.id}) }}{% else %}{{ path('app_scoresheet_new',{'game':game.id}) }}{% endif %}">
                                    Partiar
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                </a>
                                {% if game.scoresheet %}
                                    <a class="btn btn-sm btn-default" href="{{ path('app_game_reconstruction',{'game':game.id}) }}">
                                        Spustiť rekonštrukciu
                                        <span class="glyphicon glyphicon-play"></span>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}