<div class="" id="table-{{ possibility.objectHash }}">
    <div class="panel panel-default {% if possibility.isValid %}panel-success{% else %}panel-danger{% endif %}">
        {#<div class="panel-heading">#}
        {#Ťah {{ possibility.turn.number }}#}
        {#<span class="glyphicon {% if possibility.isValid %}glyphicon-ok{% else %}glyphicon-remove{% endif %}"></span>#}
        {#</div>#}

            <table class="table">
                <thead>
                <tr>
                    <th>Ťah</th>
                    <th>Hlavné slovo</th>
                    <th>Ostatné slová</th>
                    <th>Použité písmená</th>
                    <th>Počet bodov</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ possibility.turn.number }}</td>
                    <td>{{ possibility.mainWord }}</td>
                    <td>{{ possibility.createdWords|join(', ') }}</td>
                    <td>{{ possibility.usedLetters|join(', ') }}</td>
                    <td>{{ possibility.turn.points }}</td>
                </tr>
                </tbody>
            </table>
        {{ possibility.board.render|raw }}
    </div>
</div>