{#{% if possibility.isValid %}#}
<div id="possibility-{{ possibility.objectHash }}">
    {#<a#}
            {#class="possibility {% if possibility.isValid %}text-success valid{% else %}text-warning invalid hidden{% endif %}"#}
            {#data-toggle="collapse"#}
            {#href="#table-{{ possibility.objectHash }}"#}
            {#aria-expanded="false"#}
            {#aria-controls="table-{{ possibility.objectHash }}">#}
        {#Ťah {{ possibility.turn.number }}#}
        {#možnosť - {% if childNum is defined%}{{ childNum+1 }}{% endif %}#}
        {#<span class="glyphicon {% if possibility.isValid %}glyphicon-ok{% else %}glyphicon-remove{% endif %}"></span>#}
    {#</a>#}
    {#{% include '@App/Game/possibility-table.html.twig' with { 'possibility':possibility} %}#}
    <a href="#modal-{{ possibility.objectHash }}" data-toggle="modal" data-target="#modal-{{ possibility.objectHash }}">
        Ťah {{ possibility.turn.number }}
    </a>
    {% include '@App/Game/possibility-modal.html.twig' with {'possibility':possibility} %}
</div>
<ul class="list-unstyled" id="{{ possibility.objectHash }}">
    {% if possibility.possibilities|length > 0 %}
        <li class="">
            {% for key, child in possibility.possibilities %}
                {% include '@App/Game/possibility.html.twig' with {'possibility':child,'childNum':key} %}
            {% endfor %}
        </li>
    {% endif %}
</ul>
{#{% endif %}#}

