{% extends '@App/layout/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/js/treant-js-master/Treant.css') }}">
{% endblock %}

{% block content %}
    {#<div>#}
    {#<button class="btn btn-danger" id="show-invalid-btn">Zobraz neplatné možnosti</button>#}
    {#</div>#}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID hry</th>
                    <th>Hráči</th>
                    <th>Konfiguracia</th>
                    <th>Počet ťahov</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ game.id }}</td>
                    <td>{% for player in game.players %} {{ player.name }} {% endfor %}</td>
                    <td>{{ game.letterConfiguration.name }}</td>
                    <td>{{ game.scoresheet.turns|length }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    {% for player in game.players %}<th colspan="3">{{ player.name }}</th>{% endfor %}
                </tr>
                <tr>
                    {% for player in game.players %}
                    <th>Ťah</th>
                    <th>Slovo</th>
                    <th>Počet bodov</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% set playersCount = game.players|length %}
                {% for turn in game.scoresheet.turns %}
                    {% if (turn.number-1) % playersCount == 0 %}<tr>{% endif %}
                        <td>{{ turn.number }}</td>
                        <td>{{ turn.word }}</td>
                        <td>{{ turn.points }}</td>
                    {% if (turn.number-1) % playersCount == playersCount - 1 %}</tr>{% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="treant"></div>
    <div class="hidden">
        <div>
            {% include '@App/Game/possibility.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block page_level_javascripts %}

    <script src="{{ asset('bundles/app/js/treant-js-master/vendor/raphael.js') }}"></script>
    <script src="{{ asset('bundles/app/js/treant-js-master/Treant.js') }}"></script>

    <script>
        $('#show-invalid-btn').click(function(){
            $('.possibility.invalid').toggleClass('hidden');
        });

        var data = {{ possibility|serialize|raw }};

        var treantConfig = {
            chart:{
                container:'#treant',
                connectors: {
                    type: "curve",
                    style: {
                        "stroke-width": 2,
                        "stroke-linecap": "round",
                        "stroke": "#ccc"
                    }
                }
            },
            nodeStructure: data
        };

        var treant = new Treant(treantConfig)
    </script>
{% endblock %}